<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chitchat - chat messenger html templlete</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Chitchat">
    <meta name="keywords" content="Chitchat">
    <meta name="author" content="Chitchat">
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/date-picker.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" media="screen" id="color">
    <link rel="stylesheet" type="text/css" href="../assets/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/tour.css">
    <link rel="stylesheet" type="text/css" href="../assets/js/ckeditor/skins/moono-lisa/editor.css?t=HBDD">
    <link rel="stylesheet" type="text/css" href="../assets/js/ckeditor/plugins/scayt/skins/moono-lisa/scayt.css">
    <link rel="stylesheet" type="text/css" href="../assets/js/ckeditor/plugins/scayt/dialogs/dialog.css">
    <link rel="stylesheet" type="text/css" href="../assets/js/ckeditor/plugins/tableselection/styles/tableselection.css">
    <link rel="stylesheet" type="text/css" href="../assets/js/ckeditor/plugins/wsc/skins/moono-lisa/wsc.css">
    <link rel="stylesheet" type="text/css" href="../assets/js/ckeditor/plugins/copyformatting/styles/copyformatting.css">
  </head>
  <body> 
    <div class="inner-page">
      <!-- header start //-->
      <header id="home">
        <div class="custom-container">
          <div class="row">
            <div class="col-12">
              <div class="landing-header">           
                <div class="main-menu">
                  <nav class="navbar navbar-expand-sm navbar-light"><a class="navbar-brand" href="messenger.html">
                      <div class="logo-block"><img class="img-fluid" src="../assets/images/logo/landing-logo.png" alt="logo"/></div></a>
                    <button class="navbar-toggler d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse d-xl-block" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active"><a class="nav-link" href="messenger.html">Messenger <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                          <ul class="dropdown-menu">
                            <li class="nav-link"><a href="blog-page(right-sidebar).html">Blog Right sidebar</a></li>
                            <li class="nav-link"><a href="blog-page(left-sidebar).html">Blog Left sidebar</a></li>
                            <li class="nav-link"><a href="blog-page(blog-details).html">Blog Details</a></li>
                            <li class="nav-link"><a href="blog-page(no-sidebar).html">Blog No sidebar</a></li>
                          </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Email templates</a>
                          <ul class="dropdown-menu">
                            <li class="nav-link"><a href="email.html">Basic</a></li>
                            <li class="nav-link"><a href="email-two.html">Reset password</a></li>
                            <li class="nav-link"><a href="email-three.html">Reset password</a></li>
                          </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Authentication</a>
                          <ul class="dropdown-menu">
                            <li class="nav-link"><a href="login.html">Signin</a></li>
                            <li class="nav-link"><a href="login-2.html">Signin Classic                       </a></li>
                            <li class="nav-link"><a href="signup.html">Signup</a></li>
                            <li class="nav-link"><a href="signup-2.html">Signup Classic</a></li>
                            <li class="nav-link"><a href="forget-password.html">Forget Password</a></li>
                          </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bouns page</a>
                          <ul class="dropdown-menu">
                            <li class="nav-link"><a href="about.html">About</a></li>
                            <li class="nav-link"><a href="faq.html">FAQ</a></li>
                            <li class="nav-link"><a href="elements.html">Elements</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="breadcrumb-main">
        <div class="custom-container">
          <h2>blog</h2>
          <ul>
            <li><a href="messenger.html">home</a></li>
            <li><a href="#">blog</a></li>
          </ul>
        </div>
      </section>
    </div>
    <section class="section-py-space blog-page ratio2_3">     
      <ul class="page-decore">
        <li class="top"><img class="img-fluid inner2" src="../assets/images/landing/footer/2.png" alt="footer-back-img"></li>
        <li class="bottom"><img class="img-fluid inner2" src="../assets/images/landing/footer/2.png" alt="footer-back-img"></li>
      </ul>
      <div class="custom-container">
        <div class="row">
          <div class="col-12 blog-list">
            <div class="row blog-media">
              <div class="col-xl-6">
                <div class="blog-side">
                  <div class="blog-left text-center"><a href="#"><img class="img-fluid" src="../assets/images/blog/1.jpg" alt=""/></a></div>
                  <div class="blog-right">
                    <div>
                      <h6>25 January 2024</h6><a href="blog-page(blog-details).html">
                        <h4>you how all this mistaken idea of denouncing pleasure.</h4></a>
                      <ul class="post-social">
                        <li><i class="fa fa-user"> </i>Admin</li>
                        <li><i class="fa fa-comments"></i> 10 Comment</li>
                      </ul>
                      <p>Consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil .</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="blog-side">
                  <div class="blog-left text-center"><a href="#"><img class="img-fluid" src="../assets/images/blog/2.jpg" alt=""/></a></div>
                  <div class="blog-right">
                    <div>
                      <h6>25 January 2024</h6><a href="blog-page(blog-details).html">
                        <h4>The master-builder of human happiness.</h4></a>
                      <ul class="post-social">
                        <li><i class="fa fa-user"> </i>Admin</li>
                        <li><i class="fa fa-comments"></i> 5 Comment</li>
                      </ul>
                      <p>Which Are Very painful. No one seeks for or loves pain simply because it is painful; rather, they do it because, on sometimes, circumstances arise that allow them to bring them great pleasure.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row blog-media">
              <div class="col-xl-6">
                <div class="blog-side">
                  <div class="blog-left text-center"><a href="#"><img class="img-fluid" src="../assets/images/blog/3.jpg" alt=""/></a></div>
                  <div class="blog-right">
                    <div>
                      <h6>25 January 2024</h6><a href="blog-page(blog-details).html">
                        <h4>Seds quasi architecto beatae vitae dicta.</h4></a>
                      <ul class="post-social">
                        <li><i class="fa fa-user"> </i>Admin</li>
                        <li><i class="fa fa-comments"> </i> 8 Comment</li>
                      </ul>
                      <p>In today's fast-paced digital world, effective time management is crucial for productivity. With the constant stream of emails, meetings, and tasks, it's easy to feel overwhelmed. To combat this, many professionals are turning to time management techniques such as the Pomodoro Technique. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="blog-side">
                  <div class="blog-left text-center"><a href="#"><img class="img-fluid" src="../assets/images/blog/4.jpg" alt=""/></a></div>
                  <div class="blog-right">
                    <div>
                      <h6>25 January 2024</h6><a href="blog-page(blog-details).html">
                        <h4>Is there anyone who loves or pursues or desires.</h4></a>
                      <ul class="post-social">
                        <li><i class="fa fa-user"> </i>Admin</li>
                        <li><i class="fa fa-comments"></i> 4 Comment</li>
                      </ul>
                      <p>This approach helps individuals maintain concentration and boost productivity, allowing them to accomplish more in less time. By implementing strategies like the Pomodoro Technique, you can take control of your schedule and achieve your goals efficiently.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row blog-media">
              <div class="col-xl-6">
                <div class="blog-side">
                  <div class="blog-left text-center"><a href="#"><img class="img-fluid" src="../assets/images/blog/1.jpg" alt=""/></a></div>
                  <div class="blog-right">
                    <div>
                      <h6>25 January 2024</h6><a href="blog-page(blog-details).html">
                        <h4>Why I Believe AI Will Revolutionize Healthcare</h4></a>
                      <ul class="post-social">
                        <li><i class="fa fa-user"> </i>Admin</li>
                        <li><i class="fa fa-comments"></i> 7 Comment</li>
                      </ul>
                      <p>One area that has seen rapid growth and innovation is social media marketing. With platforms like Facebook, Instagram, Twitter, and LinkedIn continually introducing new features and algorithms, marketers face both challenges and opportunities.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="blog-side">
                  <div class="blog-left text-center"><a href="#"><img class="img-fluid" src="../assets/images/blog/2.jpg" alt=""/></a></div>
                  <div class="blog-right">
                    <div>
                      <h6>25 January 2024</h6><a href="blog-page(blog-details).html">
                        <h4>The Problem with Fast Fashion: Is It Time for Change</h4></a>
                      <ul class="post-social">
                        <li><i class="fa fa-user"> </i>Admin</li>
                        <li><i class="fa fa-comments"></i> 9 Comment</li>
                      </ul>
                      <p>Moreover, it's essential to stay updated with platform-specific best practices. For instance, Instagram's algorithm prioritizes visually appealing and high-quality content, making it vital for businesses to invest in creative visual elements for their posts.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container footer-main">
        <div class="row footer-block">
          <div class="col-lg-3 col-md-6">
            <div class="footer-title footer-mobile-title">
              <h3>About</h3>
            </div>
            <div class="about-payment footer-contant">
              <div class="logo"><a href="messenger.html"><img src="../assets/images/logo/landing-logo.png" alt="logo"/></a></div>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece Lorem fugit on looked ipsum.</p>
              <ul class="social-group">
                <li><a class="icon-btn btn-google btn-sm" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a class="icon-btn btn-twiter btn-sm" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a class="icon-btn btn-linkedin btn-sm" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="icon-btn btn-instagram btn-sm" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <div class="links">
              <div class="footer-title">
                <h3>Useful Links</h3>
              </div>
              <div class="footer-contant">
                <ul>
                  <li><a href="messenger.html">Home</a></li>
                  <li><a href="about.html">About us</a></li>
                  <li><a href="about.html">Services</a></li>
                  <li><a href="blog-page(right-sidebar).html">Blog</a></li>
                  <li><a href="login.html">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <div class="links">
              <div class="footer-title">
                <h3>Chitchat Help</h3>
              </div>
              <div class="footer-contant">   
                <ul>
                  <li><a href="about.html">Privacy Policy</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="about.html">Support</a></li>
                  <li><a href="login.html">Contact</a></li>
                  <li><a href="about.html">Tearm</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <div class="links">
              <div class="footer-title">
                <h3>Download For</h3>
              </div>
              <div class="footer-contant">
                <ul>
                  <li><a href="#">Windows</a></li>
                  <li><a href="#">Linux</a></li>
                  <li><a href="#">IOS</a></li>
                  <li><a href="#">Android</a></li>
                  <li><a href="#">Mac</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="downlaod">
              <div>
                <div class="footer-title">
                  <h3>Download Apps</h3>
                </div>
                <div class="footer-contant">
                  <div class="footer-btn"><a class="btn active" href="#"><i class="fa fa-apple"></i>
                      <div>
                        <h6>Available on the</h6>
                        <h4>App store</h4>
                      </div></a><a class="btn" href="#"><i class="fa fa-play"></i>
                      <div>
                        <h6>Available on the</h6>
                        <h4>Google play</h4>
                      </div></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-back-block"><img class="img-fluid inner1" src="../assets/images/landing/footer/2.png" alt="footer-back-img"/><img class="img-fluid inner2" src="../assets/images/landing/footer/2.png" alt="footer-back-img"/></div>
      <div class="container copyright-footer">
        <div class="row copyright">
          <div class="col-md-6 col-sm-12">
            <p>© 2023 Chitchat. All Rights Reserved</p>
          </div>
          <div class="col-md-6 col-sm-12 links_horizontal">
            <p class="text-end">Made with <span>&hearts; </span>By Theme Pixelstrap</p>
          </div>
        </div>
      </div>
    </footer>
    <div class="tap-top">
      <div><i class="fa fa-angle-double-up"></i></div>
    </div>
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/owl.carousel.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/tippy-bundle.iife.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.js"></script>
    <script src="../assets/js/switchery.js"></script>
    <script src="../assets/js/feather-icon/feather.min.js"></script>
    <script src="../assets/js/feather-icon/feather-icon.js"></script>
    <script src="../assets/js/tour/intro.js"></script>
    <script src="../assets/js/tour/intro-init.js"></script>
    <script src="../assets/js/jquery.magnific-popup.js"></script>
    <script src="../assets/js/zoom-gallery.js"></script>
    <script src="../assets/js/script.js"></script>
  </body>
</html>